[Desktop Entry]
Name=Jorvik
Comment=Chat and voice for Matrix
Exec=jorvik %U
Icon=app.jorvik.Jorvik
Terminal=false
Type=Application
Categories=Network;InstantMessaging;Chat;
StartupWMClass=jorvik
